.checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -100px;
  z-index: 100;

  width: 42px;
  height: 42px;
  margin-top: -26px;

  border: 4px solid $lightGrayColor;
  border-radius: 50%;
}

.checkbox:hover + label::before {
  border-color: $grayColor;
  box-shadow: 0 0 10px 2px $darkBlueColorAlpha;
}

.checkbox:checked:hover {
  border-color: $darkLimeColor;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -100px;
  z-index: 100;

  width: 42px;
  height: 42px;
  margin-top: -26px;

  background-image: url("./assets/images/checked.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid $limeColor;
  border-radius: 50%;
}

.checkbox:checked + label {
  color: $grayColor;
  text-decoration: line-through;
}
