html {
  height: 100%;
}

body {
  position: relative;

  height: 100%;
  margin: 0;

  background-color: $cookieColor;
}

form {
  display: flex;
  flex-direction: column;

  font-family: "Gotham Rounded", "Open Sans", sans-serif;
}

body:after,
body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body:after {
  background: radial-gradient(circle,red,transparent);
  background-size: 400%;

  animation: colorSpin 30s linear infinite;
}

body:before {
  background-color: yellow;
}
