html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background-color: $cookieColor;
}

form {
  display: flex;
  flex-direction: column;

  font-family: "Gotham Rounded", "Open Sans", sans-serif;
}

@keyframes colorSpin{
  25%{background-position:0 100%}
  50%{background-position:100% 100%}
  75%{background-position:100% 0}
  100%{filter:hue-rotate(360deg)}
}